#frame_d{
    /* 设置背景图像 */
    background-image: url("imgs/bg.jpg");
    background-attachment: scroll ;
    background-size: cover;/*图片覆盖*/
    background-position: center;/*这个很重要，消除偏移量*/
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100%;
    line-height: 80px;
    position: absolute;
    margin:0px;
    overflow: hidden;
    text-align: center;
}
body{
    margin: 0;
}
#cont_d{
    margin-top: 0%;
    text-align: center;
    position: relative;
}